<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
  </head>
  <body>
		<slot />
  </body>
</html>
<style>
	* {
		font-family: sans-serif;
	}
</style>
